
<header class="header">
        <nav class="nav">
            <div class="logo-container">
                <h3 class="logo-text">l'Éclipse</h3>
            </div>
            <ul class="links">
                <li class="item">
                    <a href="#" class="link">Home</a>
                </li>
                <li class="item">
                    <a href="#" class="link">Menu</a>
                </li>
                <li class="item">
                    <a href="#" class="link">Reservations</a>
                </li>
                <li class="item">
                    <a href="#" class="link">About Us</a>
                </li>
                <li class="item">
                    <a href="#" class="link">Gallery</a>
                </li>
                <li class="item">
                    <a href="#" class="link"> Contacts</a>
                </li>
            </ul>
        </nav>
    </header>

