<header class="header">
  <nav class="nav">
    <div class="logo-container">
      <h3 class="logo-text">l'Éclipse</h3>
    </div>
    <ul class="links">
      <li
        class="item"
        (mouseenter)="hover(linkItem)"
        (mouseleave)="unHover(linkItem)"
        *ngFor="let link of links"
      >
        <a href="link.href" id="item" class="link" #linkItem>{{
          link.title
        }}</a>
      </li>
    </ul>
    <div class="hamburger" #ham (click)="menuActive()">
      <svg viewBox="0 0 100 80" width="40" height="20">
        <rect width="100" height="10" stroke="#fff" fill="#fff"></rect>
        <rect y="30" width="100" height="10" stroke="#fff" fill="#fff"></rect>
        <rect y="60" width="100" height="10" stroke="#fff" fill="#fff"></rect>
      </svg>
    </div>
  </nav>
</header>
