@import "../../variables.scss";

.mobile-menu {
  // display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $orange;
  position: absolute;
  .overlay {
    width: 100vw;
    height: 100vh;
    background-color: $white;
    position: absolute;
    .container {
      height: 100%;
      position: relative;
      .close-btn {
        position: absolute;
        right: 1rem;
        top: 2rem;
        cursor: pointer;
      }
      .grid {
        position: absolute;
        grid-template-columns: 1fr;
        justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .title-container {
          margin-bottom: 3rem;
          .title {
            font-size: 5rem;
            color: $darkGray;
          }
        }
        .nav {
          text-align: center;
          .item {
            margin-bottom: 1rem;
            .link {
              font-size: 1.5rem;
              text-decoration: none;
              color: $gray;
            }
          }
        }
      }
    }
  }
}
